.navbar-size {
width: 95%;
margin: 0 auto;
}
.user-image-size {
height: 56px;
margin: 4px 0;
}
.main-body {
background-color: #84bb2c;
color: rgb(215, 229, 236);
height: calc(100vh - 64px);
}
.materialboxed-image {
margin: 0 auto;
height: 400px;
}
.click-me-button {
background-color: #f76505;
margin-top: 50px;
}